.link-unstyled {
  color: inherit;
  text-decoration: none;
}

.custom-sticky-top {
  position: sticky;
  top: 50px;
  z-index: 100;
}

.card-image-top {
  height: 25vh;
  object-fit: cover;
}

.footer-link-color {
  color: var(--bs-link-color);
}

.bg-header {
  background-color: var(--bs-primary-bg-subtle);
}

.bs-primary-bg-subtle {
  color: var(--bs-primary-bg-subtle);
}

.bs-gray-500 {
  color: var(--bs-gray-500);
}

.bs-gray {
  color: var(--bs-gray);
}

.post-content h1 {
  font-size: 2.625rem;
  line-height: 3.25rem;
}

.post-content h2 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: var(--bs-gray);
}

.post-content p {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.post-content .btn-sm {
  padding: 0.125rem 0.25rem;
}

.post-content .lead {
  font-size: 1.25rem;
}

.link-darkgray-primary:hover {
  color: var(--bs-primary);
}

.link-darkgray-primary {
  color: var(--bs-gray-700);
}

.link-gray-primary:hover {
  color: var(--bs-primary);
}

.link-gray-primary {
  color: var(--bs-gray-500);
}

.link-primary-subtle:hover {
  color: var(--bs-primary-bg-subtle);
}

.link-primary-subtle {
  color: var(--bs-primary);
}

.btn-share {
  color: var(--bs-gray-500);
  padding: 0;
  margin: 0;
}

.btn-share:hover {
  color: var(--bs-primary);
}

.btn-share[aria-expanded=true] {
  color: var(--bs-primary);
  border-color: transparent;
}

.btn-share:not(:disabled):not(:disabled):active {
  color: var(--bs-primary);
  border-color: transparent;
}

.outline-ps-p {
  border-color: var(--bs-primary-bg-subtle);
  color: var(--bs-gray-600);
}

.outline-ps-p:hover {
  border-color: var(--bs-primary);
}

.primary-subtle-hover:hover {
  background-color: var(--bs-primary-bg-subtle);
  border-color: var(--bs-primary-bg-subtle);
}

.primary-subtle-hover {
  border-color: var(--bs-primary-bg-subtle);
}

.category-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.category-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.category-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.category-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
