<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- MAIN NAVIGATION -->
    <nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">{{ sitedata.name }}</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="mainNavbar">
                <div class="navbar-nav ms-auto">
                    {% for item in navigation.mainNav %}
                        <a class="nav-link fw-semibold text-end{{helpers.addActiveState(item.url, page.url) | safe}}" 
                            href="{{ item.url }}" 
                            aria-label="{{ sitedata.name }} - {{ item.text }}"
                            {{helpers.addAriaCurrentState(item.url, page.url) | safe}}>
                            {{ item.text }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <main>
        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    {% set currentYear = helpers.currentYear() %}
    {% set year = sitedata.year %}

    <footer class="border-top mt-auto pt-2 pb-4" id="site-footer">
        <div class="container-fluid d-flex flex-column flex-lg-row justify-content-between">

            <!-- Copyright -->
            <span class="navbar-text footer-link-color text-center text-lg-start" id="copyright">
                <!-- shows just the current year if the year in sitedata matches -->
                <!-- otherwise shows sitedata.year - current year, like 2022 - 2023 -->
                &copy; {{ year }} {% if year != currentYear %}- {{ currentYear}}{% endif %} {{ sitedata.name }}
            </span>

            <div class="nav justify-content-center" id="footer-social">
                {% for item in sitedata.social %}
                    <a class="nav-link link-primary-subtle" href="{{ item.url }}" target="_blank"><i class="fab fa-{{ item.name }}"></i></a>
                {% endfor %}
            </div>

            <div class="nav justify-content-center justify-content-lg-end" id="footer-nav">
                {% for item in navigation.footerNav %}
                    <a class="nav-link link-primary-subtle{{helpers.addActiveState(item.url, page.url) | safe}}" 
                        href="{{ item.url }}"
                        aria-label="{{ sitedata.name }} - {{ item.text }}"
                        {{helpers.addAriaCurrentState(item.url, page.url) | safe}}>
                        {{ item.text }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>