<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- social share metadata via open graph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ summary }}" />
    <meta property="og:type" content="{{ article }}" />
    <meta property="og:url" content="{{ sitedata.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ sitedata.url }}{{ page.url }}{{ postimg }}" />
    <meta property="og:site_name" content="{{ sitedata.sitename }}" />

    <title>{{ title }}</title>
    <!-- custom CSS should come after Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/css/fontawesome.css' }}">
    <link rel="stylesheet" href="{{ '/css/custom.css' }}">
  </head>
  <body>
    {% include "partials/main-navbar.html" %}

    <div class="container-fluid p-0">
      {% block content %}{% endblock %}
    </div>

    {% include "partials/site-footer.html" %}

    <script src="{{ '/js/main.js' }}"></script>
  </body>
</html>