<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Primary Meta Tags -->
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ summary }}" />
    
    <!-- open graph meta tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ sitedata.produrl }}{{ page.url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ summary | truncate(100, true) }}" />
    <meta property="og:image" content="{{ sitedata.url }}{{ page.url }}{{ postimg }}" />

    <!-- twitter meta tags -->
    <meta property="twitter:url" content="{{ sitedata.produrl }}{{ page.url }}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ summary | truncate(100, true) }}" />
    <meta property="twitter:image" content="{{ sitedata.url }}{{ page.url }}{{ postimg }}" />

    <!-- custom CSS should come after Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/css/fontawesome.css' }}">
    <link rel="stylesheet" href="{{ '/css/custom.css' }}">
  </head>
  <body>
    {% include "partials/main-navbar.html" %}

    <div class="container-fluid p-0">
      {% block content %}{% endblock %}
    </div>

    {% include "partials/site-footer.html" %}

    <script src="{{ '/js/main.js' }}"></script>
  </body>
</html>