{% extends "layouts/base.html" %}

{% block content %}
    <div class="container-fluid">
        <!-- include post header -->
        <div class="row bg-body-tertiary justify-content-center pb-4 pt-4">
            <div class="col col-lg-9 col-xl-6">
                {% include "partials/post-header.html" %}
            </div>
        </div>

        <!-- include post info -->
        <div class="row justify-content-center">
            <div class="col col-lg-9 col-xl-6">
                {% include "partials/post-info.html" %}
            </div>
        </div>

        <!-- main -->
        <div class="row justify-content-center">
            <!-- left sidebar -->
            <div class="col-3 d-none d-xl-block">
                <aside>
                    {% if content | toc %}
                        <p>On this page</p>
                        {{ content | toc | safe }}
                    {% endif %}
                </aside>
            </div>

            <!-- post content -->
            <div class="col col-lg-9 col-xl-6">
                <article class="mb-4">
                {{ content | safe }}
                </article>

                {% include "partials/post-footer_card.html" %}
            </div>
            
            <!-- right sidebar -->
            <div class="col-3 d-none d-xl-block"></div>
         </div>
    </div>
{% endblock %}