{% extends "layouts/base.html" %}

{% set postListItems = pagination.items %}

<!-- if this is a tag, grab those items instead os one large collection -->
{% if tag %}
  {% set postListItems = collections.tagList[tag] %}
{% endif %}

{% block content %}
    {% include "partials/page-header.html" %}
    <div class="container py-4">
        <!-- row to hold the two columns, one for the post list, one for the sidebar -->
        <div class="row">
            <!-- col for the post list -->
            <div class="col-md-10">
                <!-- row for post list -->
                {% include "partials/listings/default-listing.html" %}

                <!-- row for pagination, don't render that if it is a tag page -->
                {% if not tag %}
                <div class="row">
                    {% include "partials/pagination.html" %}
                </div>
                {% endif %}
            </div>

            <!-- col for the sidebar -->
            <div class="col-md-2">
                <!-- tags -->
                {% include "partials/tag-list.html" %}
            </div>
        </div>

    </div>
{% endblock %}