{% extends "layouts/baseLayout.html" %}


{% block content %}
    <div class="container mt-3 mb-4">

        <!-- tag bar only on small screens -->
        <div class="row d-flex d-block d-lg-none bg-white custom-sticky-top zindex-2">
            <div class="col-12">
                <h5 class="text-center text-lg-start pt-2">Filter by Tag</h5>        
                <ul class="list-unstyled category-scrollbar gap-1 d-flex flex-lg-column justify-content-center overflow-auto pb-2">
                    {% include "partials/postsTagList.html"%}
                </ul>
            </div>
        </div>


        <div class="row d-flex flex-sm-row my-4">

            <!-- POST CONTENT -->
            <div class="col-lg-8 offset-lg-2 order-1 order-lg-0 post-content">
                
                <!-- title and subtitle -->
                <div class="mt-5 pt-2 pb-1 mb-1">
                    <h1 class="text-center">{{ title }}</h1>
                    <h2 class="text-center">{{ subtitle }}</h2>
                </div>

                <!-- tags -->
                <div class="text-center pb-1 mb-3">
                    {% if tags %}
                        {% for tag in tags %}
                            <a class="btn btn-sm btn-outline outline-ps-p" href="/tag/{{ tag | slug }}">#{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- post summary -->
                <div class="post-summary">
                    <p class="lead">{{ summary }}</p>
                </div>

                <!-- actions bar -->
                <div class="d-flex flex-row justify-content-between border-top border-bottom my-3">
                    <div class="small text-center text-muted my-auto">
                        <time datetime="{{ item.data.date }}">{{ date | readablePostDate }}</time> &bull; {{ content | readingTime }} read
                    </div>
                    <div class="dropdown">
                        <button class="btn-share btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-arrow-up-from-bracket fa-lg py-4 px-2">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item link-darkgray-primary" href="#">Share on <i class="fa-brands fa-twitter fa-lg py-2"></i></a></li>
                            <li><a class="dropdown-item link-darkgray-primary" href="#">Share on <i class="fa-brands fa-linkedin fa-lg py-2"></i></a></li>
                            <li><a class="dropdown-item link-darkgray-primary" href="#">Share on <i class="fa-brands fa-mastodon fa-lg py-2"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- post image -->
                <div class="post-image">
                    {% if showImage %}
                        <img class="img-fluid" src="{{ image }}" alt="{{ imageAlt }}">
                    {% endif %}
                </div>

                <!-- post content -->
                <div class="post-content my-4">
                    {{ content | safe }}
                </div>

                <!-- actions bar bottom-->
                <div class="d-flex flex-row justify-content-center border-top border-bottom my-3">
                    <div class="small text-center text-muted my-auto me-3">
                        Share this post on:
                    </div>
                    <div class="d-flex flex-row gap-3">
                        <a href=""><i class="fa-brands fa-twitter fa-lg link-gray-primary py-4"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin fa-lg link-gray-primary py-4"></i></a>
                        <a href=""><i class="fa-brands fa-mastodon fa-lg link-gray-primary py-4"></i></a>
                    </div>
                </div>

                <!-- post navigation -->
                <div class="post-navigation">
                    {% set nextPost = collections.posts | getNextCollectionItem(page) %}
                    {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
                
                    {% if nextPost or previousPost %}
                
                        <div class="row">
                            <div class="col-md-6 d-flex justify-content-start">
                                <div class="d-flex flex-column">
                                    {% if previousPost %}
                                        <a class="link-unstyled link-darkgray-primary" href="{{ previousPost.url }}">
                                            <span><i class="fa-solid fa-chevron-left"></i> <span class="fw-semibold small text-primary">Previous post</span><br>{{ previousPost.data.title }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                
                            <div class="col-md-6 d-flex justify-content-end">
                                <div class="d-flex flex-column">
                                    {% if nextPost %}
                                        <a class="link-unstyled link-darkgray-primary text-end" href="{{ nextPost.url }}">
                                            <span class="fw-semibold small text-primary">Next post</span> <i class="fa-solid fa-chevron-right"></i><br>{{ nextPost.data.title }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                
                    {% endif %}
                </div>
            </div>

            <!-- SIDEBAR -->
            <div class="col-lg-2 order-0 order-lg-1 d-none d-lg-block">
                {% include "partials/blogSidebar.html" %}
            </div>

        </div>

    </div>
{% endblock %}