{% extends "layouts/baseLayout.html" %}

{% set feedItems = pagination.items %}

{% if tag %}
    {% set feedItems = collections.projectsTagged[ tag ] %}
    {% set headerSubtitle = 'Projects agged #' + tag %}
{% endif %}


{% block content %}
    <!-- include page header -->
    {% include "partials/header.html" %}
    
    <div class="container mt-3 mb-4">

        <!-- tag bar only on small screens -->
        <div class="row d-flex d-block d-lg-none bg-white custom-sticky-top zindex-2">
            <div class="col-12">
                <h5 class="text-center text-lg-start pt-2">Filter by Tag</h5>        
                <ul class="list-unstyled category-scrollbar gap-1 d-flex flex-lg-column justify-content-center overflow-auto pb-2">
                    {% include "partials/projectsTagList.html"%}
                </ul>
            </div>
        </div>

        <div class="row d-flex flex-sm-row my-3">
            <!-- POSTLIST -->
            <div class="col-lg-10 order-1 order-lg-0 zindex-1">
                <div>
                    {% include "partials/feed.html" %}
                </div>
                
                {% if not tag %}
                    <div>
                        {% include "partials/pagination.html" %}
                    </div>
                {% endif %}
            </div>

            <!-- SIDEBAR -->
            <div class="col-lg-2 order-0 order-lg-1 d-none d-lg-block">
                {% include "partials/projectsSidebar.html" %}
            </div>
        </div>

    </div>

    {{ content | safe }}

{% endblock %}