<div class="row g-3">
    {% for item in postListItems %}
    <div class="col-sm-6 col-md-4 d-flex align-items-stretch">
        <div class="card">
            <img src="{{ item.url }}{{ item.data.postimg }}" class="card-img-top object-fit-cover" style="height: 150px" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.data.title }}</h5>
                <p class="card-text mb-2">{{ item.data.summary }}</p>
                {% for tag in item.data.tags %}
                    <a href="" class="btn btn-outline-secondary btn-sm px-2 mb-1" role="button">{{ tag }}</a>
                {% endfor %}
                <a href="{{ item.url }}" class="stretched-link"></a>
            </div>
            <div class="">
                <p class="mb-2 me-3 text-end">{{ item.data.date | luxonDate("LLL d, yyyy") }}</p>
            </div>
          </div>
    </div>
    {% endfor %}
</div>