<div class="container-fluid bg-light">
    <div class="container py-3">
        {% if bannerTitle %}<h2 class="display-6 py-0 my-0">{{ bannerTitle }}</h2>{% endif %}
        {% if bannerSubtitle %}<p class="subtitle lead py-0 my-0">{{ bannerSubtitle }}</p>{% endif %}
        {% if bannerSummary %}<p class="">{{ bannerSummary }}</p>{% endif %}
        {% if tags %}
            {% for tag in tags %}
                <a class="btn btn-outline-secondary" href="/tag/{{ tag | slug }}">#{{ tag }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>