<div class="bg-white custom-sticky-top">
    <div>
        <h5 class="text-start pt-2">Filter by Tag</h5>
        <ul class="list-unstyled d-flex flex-column gap-1 pb-2">
            {% include "partials/postsTagList.html"%}
        </ul>
    </div>

    <div class="mt-4">
        <h5>Archive</h5>
        <ul class="list-unstyled d-flex flex-column gap-1">
            {% for year in collections.postYears %}
            {% set tagUrl %}/posts/{{ year | slug }}/{% endset %}
                <li><a href="{{ tagUrl }}" class="btn btn-sm btn-outline-primary">{{ year }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
