{% if header %}
    <div class="container-fluid bg-header">
        <div class="container">
            <div class="row">
                <div class="col-{% if isPost %}lg-8 offset-lg-2{% else %}12{% endif %}">
                    {% if headerTitle %}<h2 class="display-6">{{ headerTitle }}</h2>{% endif %}
                    {% if headerSubtitle %}<h3 class="lead">{{ headerSubtitle }}</h3>{% endif %}
                    {% if tags %}
                        {% for tag in tags %}
                            <a class="btn btn-sm btn-outline-secondary" href="/tag/{{ tag | slug }}">#{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}