{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}

<!-- social share links -->
<div class="row pt-2 mt-4 mb-4">
    <div class="col text-end">
        <span class="align-middle">SHARE THIS POST</span>
    </div>
    <div class="col">
        {% for item in social.sharesocial %}
        <a class="btn rounded-pill" href="{{ item.url }}" style="background-color: {{ item.color}};">
            <i class="fa-brands fa-{{ item.name }} fa-xl" style="color: #ffffff;"></i>
        </a>
        {% endfor %}
    </div>
</div>

<!-- next and previous post -->
<div class="row pt-2 pb-2 mb-4">
    <!-- previous post -->
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-auto pe-0">
                <a href="{{ previousPost.url }}">
                    <img src="{{ previousPost.url}}{{ previousPost.data.postimg }}" 
                        class="img-cover"
                        style="height: 60px"
                        alt=""
                    >
                </a>
            </div>
            <div class="col">
                {% if previousPost %}
                <a href="{{ previousPost.url }}" class="text-decoration-none">
                    <p class="m-0"><i class="fa-solid fa-angle-left"></i>PREVIOUS</p>
                </a>
                <a href="{{ previousPost.url }}" class="text-decoration-none">
                    {{ previousPost.data.title }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- next post -->
    <div class="col-12 col-md-6 align-items-right text-end">
        <div class="row">
            <div class="col">
                {% if nextPost %}
                <a href="{{ nextPost.url }}" class="text-decoration-none">
                    <p class="m-0">NEXT<i class="fa-solid fa-angle-right"></i></p>
                </a>
                <a href="{{ nextPost.url }}" class="text-decoration-none">
                    {{ nextPost.data.title }}
                </a>
                {% endif %}
            </div>
            <div class="col-auto ps-0">
                <a href="{{ nextPost.url}}">
                    <img src="{{ nextPost.url}}{{ nextPost.data.postimg }}" 
                        class="img-cover" 
                        style="height: 60px"
                        alt=""
                    >
                </a>
            </div>
        </div>
    </div>
</div>
