{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}

<!-- social share links -->
<div class="row my-4 align-items-center">
    <div class="col-12 col-sm-6 text-center text-sm-end p-0">
        <p class="my-0 mx-2">SHARE THIS POST</p>
    </div>
    <div class="col-12 col-sm-6 text-center text-sm-start p-0">
        <a class="btn btn-link rounded-pill" 
            href="https://twitter.com/intent/tweet?url={{ sitedata.produrl }}{{ page.url }}"
            target="_blank"
            rel="noopener noreferrer"  
            style="background-color: #000000;">
            <i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i>
    </div>
</div>

<!-- next and previous post -->
<div class="row py-2 mb-4">
    <!-- previous post -->
    <div class="col-12 col-md-6">
        {% if previousPost %}
        <div class="card mb-3 btn-link" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{{ previousPost.url}}{{ previousPost.data.postimg }}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-8">
                    <div class="card-body px-2 pb-0">
                        <h6 class="card-subtitle"><i class="fa-solid fa-angle-left"></i>PREVIOUS</h6>
                        <p class="card-text m-0">{{ previousPost.data.title }}</p>
                        <a href="{{ previousPost.url }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    
    <!-- next post -->
    <div class="col-12 col-md-6 align-items-right text-end order-first order-md-last">
        {% if nextPost %}
        <div class="card mb-3 btn-link" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-8">
                    <div class="card-body px-2 pb-0">
                        <h6 class="card-subtitle">NEXT<i class="fa-solid fa-angle-right"></i></h6>
                        <p class="card-text m-0">{{ nextPost.data.title }}</p>
                        <a href="{{ nextPost.url }}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4">
                    <img src="{{ nextPost.url}}{{ nextPost.data.postimg }}" class="img-fluid rounded-end" alt="">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
