{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}

<div class="container mb-4">
    <div class="row">
        <div class="col-12 col-md-6">
            {% if previousPost %}
            <div class="row">
                <div class="col-auto pe-0">
                    <a href="{{ previousPost.url }}">
                        <img src="{{ previousPost.url}}{{ previousPost.data.postimg }}" 
                            class="img-cover"
                            style="height: 60px"
                            alt=""
                        >
                    </a>
                </div>
                <div class="col">
                    <p class="m-0"><i class="fa-solid fa-angle-left"></i>PREVIOUS</p>
                    <a href="{{ previousPost.url }}" class="text-decoration-none">
                        {{ previousPost.data.title }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 align-items-right text-end">
            {% if nextPost %}
            <div class="row">
                <div class="col">
                    <p class="m-0">NEXT<i class="fa-solid fa-angle-right"></i></p>
                    <a href="{{ nextPost.url }}" class="text-decoration-none">
                        {{ nextPost.data.title }}
                    </a>
                </div>
                <div class="col-auto ps-0">
                    <a href="{{ nextPost.url}}">
                        <img src="{{ nextPost.url}}{{ nextPost.data.postimg }}" 
                            class="img-cover" 
                            style="height: 60px"
                            alt=""
                        >
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
