<ul class="list-group list-group-flush">
    <!-- POST -->
    {% for item in postListItems %}
        <li class="list-group-item">
            <div class="row blog-post d-flex">
                <!-- info date and reading time -->
                <div class="col-lg-2 order-2 order-lg-0">
                    <a class="link-unstyled" href="{{ item.url }}">
                        <div class="d-flex flex-lg-column gap-2">
                            <p class="my-0 py-0 text-muted"><time datetime="{{ item.data.date }}">{{ item.data.date | readablePostDate }}</time></p>
                            <p class="d-lg-none my-0 py-0 text-muted">&bull;</p>
                            <p class="text-uppercase my-0 py-0 text-muted">{{ item.content | readingTime }}</p>
                        </div>
                    </a>
                </div>
        
                <!-- post content -->
                <div class="col-lg-6 order-1 order-lg-1">
                    <a class="link-unstyled" href="{{ item.url }}">
                        <h5 class="mt-2 mt-lg-0">{{ item.data.title }}</h5>
                        <h6 class="text-muted">{{ item.data.subtitle }}</h6>
                    </a>
                    <div class="d-inline-flex flex-wrap gap-1 mt-1">
                        {% for tag in item.data.tags %}
                            {% set tagUrl %}/tag/{{ tag | slug }}/{% endset %}
                            <a class="btn btn-sm btn-outline-secondary text-muted" href="{{ tagUrl }}">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <p class="my-2 py-0">{{ item.data.summary }}</p>
                </div>
        
                <!-- post image -->
                <div class="col-lg-4 order-0 order-lg-2">
                    <a class="link-unstyled" href="{{ item.url }}"><img class="img-fluid" src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}"></a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
