<div class="bg-body-tertiary">
    <div class="container pb-3">
        <h2 class="title">{{ title }}</h2>
        <p>{{ summary }}</p>
        <div class="tag-list">
            {% for tag in tags %}
            <a href="/tags/{{ tag }}/" class="btn btn-outline-secondary btn-sm py-0" role="button">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container mt-2 mb-3">
    <div>
        <img class="img-fluid" src="{{ postimg }}" alt="Creative ">
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <p class="my-0">PUBLISHED</p>
            <p class="my-0">{{ date }}</p>
        </div>
        <div class="col-6">
            <p class="my-0">READING TIME</p>
            <p class="my-0">{{ content | readingTime }}</p>
        </div>
    </div>
</div>
