{% set currentYear = helpers.currentYear() %}
{% set year = sitedata.year %}

<footer class="border-top mt-auto pt-2 pb-4" id="site-footer">
    <div class="container-fluid d-flex flex-column flex-lg-row justify-content-between">

        <!-- Copyright -->
        <span class="navbar-text footer-link-color text-center text-lg-start" id="copyright">
            <!-- shows just the current year if the year in sitedata matches -->
            <!-- otherwise shows sitedata.year - current year, like 2022 - 2023 -->
            &copy; {{ year }} {% if year != currentYear %}- {{ currentYear}}{% endif %} {{ sitedata.name }}
        </span>

        <div class="nav justify-content-center" id="footer-social">
            {% for item in sitedata.social %}
                <a class="nav-link link-primary-subtle" href="{{ item.url }}" target="_blank"><i class="fab fa-{{ item.name }}"></i></a>
            {% endfor %}
        </div>

        <div class="nav justify-content-center justify-content-lg-end" id="footer-nav">
            {% for item in navigation.footerNav %}
                <a class="nav-link link-primary-subtle{{helpers.addActiveState(item.url, page.url) | safe}}" 
                    href="{{ item.url }}"
                    aria-label="{{ sitedata.name }} - {{ item.text }}"
                    {{helpers.addAriaCurrentState(item.url, page.url) | safe}}>
                    {{ item.text }}
                </a>
            {% endfor %}
        </div>
    </div>
</footer>